* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 32px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  background: #fff;
  color: #333;
}

h1 {
  margin: 0;
  padding: 0;
  margin-top: 34px;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: #d53426;
  letter-spacing: 0.2px;
}

a {
  color: #0d7cff;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: #d53426;
}

p {
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  width: 442px;
  text-align: center;
}

#sizing {
  letter-spacing: 0.2px;
}

#description {
  margin-top: 10px;
  padding: 20px 0;
  font-size: 22px;
  text-align: justify;
}

#author {
  font-size: 16px;
}

#subscribe {
  margin-top: 100px;
  text-align: justify;
  font-size: 14px;
}

form {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

input {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 6px;
  width: 335px;
}

input:focus {
  outline: none;
  border: 1px solid #0d7cff;
}

button {
  background: #0d7cff;
  border: 1px solid #0d7cff;
  color: #fff;
  font-family: "Playfair Display", serif;
  padding: 6px 20px;
  border-radius: 2px;
  width: 100px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  transform: translate(0, 1px);
}

button:active {
  transform: translate(0, 2px);
}
