/* Reset */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
ol,
li {
  margin: 0;
  padding: 0;
}

/* Variables */

:root {
  --main-width: 442px;

  --color-pale-blue: #c0e1ea;
  --color-salmon: #ffa77a;
  --color-bold-blue: #0075ff;
  --color-red: #d53426;
  --color-yellow: #f4e199;
  --color-pale-yellow: #fff9df;

  --color-gray-darkest: #333;
  --color-gray-dark: #555;
  --color-gray-medium: #aaa;
  --color-gray-light: #ddd;
  --color-gray-lightest: #eee;
  --color-light: #fff;

  --color-main-bg: var(--color-light);
  --color-main-fg: var(--color-gray-darkest);
}

/* Global */

html {
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  background: var(--color-main-bg);
  color: var(--color-main-fg);
}

h1 {
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  color: var(--color-red);
  letter-spacing: 0.0125rem;
}

h2 {
  font-weight: normal;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: var(--color-bold-blue);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--color-red);
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1.6rem;
}

form {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

input {
  border: 1px solid var(--color-gray-medium);
  border-radius: 0.15rem;
  padding: 0.25rem 0.7rem;
  width: 20rem;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-bold-blue);
}

button {
  background: var(--color-bold-blue);
  border: 1px solid var(--color-bold-blue);
  color: var(--color-light);
  font-family: "Playfair Display", serif;
  padding: 0.5rem 1rem;
  border-radius: 0.15rem;
  width: 6.25rem
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  transform: translate(0, 0.0625rem);
}

button:active {
  transform: translate(0, 0.125rem);
}

.divider {
  border: 0;
  border-top: 0.25rem solid var(--color-gray-light);
  width: 7rem;
  margin: 3rem auto;
}

/* Layout */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

header {
  text-align: center;
  justify-content: flex-end;
  width: var(--main-width);
  padding-top: 2rem;
}

article {
  width: var(--main-width);
}

footer {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 2rem;
}

/* Content */

#sizing {
  letter-spacing: 0.2px;
}

#description {
  margin: 2rem 0;
  font-size: 1.38rem;
  text-align: justify;
  line-height: 1.75rem;
}

#author {
  margin: 0;
}

#subscribe {
  text-align: justify;
  font-size: 0.875rem;
  background: var(--color-pale-blue);
  border-radius: 0.25rem;
  padding: 1.5rem;
}

#subscribe input {
  margin-right: 0.5rem;
}

#toc {
  width: var(--main-width);
  background: var(--color-pale-yellow);
  border-radius: 0.25rem;
  padding: 1.5rem;
  padding-bottom: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#toc h2 {
  margin-bottom: 2rem;
}

.part {
  margin-bottom: 2rem;
}

.part ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
